<%- include('header'); -%>
<section id="logo">
  <a href="/"><img src="../images/logo.png" alt="logo de la pagina" /></a>
  <a href="/" id="back_button"><img src="../images/arrow-left-solid.svg" alt="boton atras"></a>
</section>
<section id="drink_recipe">
  <div class="card_drink">
    <div class="card_header" style="background-image: url(<%= drink.path %>);">
      
    </div>
    <div class="card_body">
      <h3><%= drink.title %></h3>
      <p>Preparación para <%= drink.quantity %> vasos</p> 
      <p id="recipe"><%= drink.recipe %></p>
      <a href="/recipe/<%= drink.title %>/delete" id="recipeDel">Eliminar receta</a>
    </div>
  </div>
  </section>
  <section id="others_recipe">
    <h2>Otras recetas que te podrian gustar</h2>
    <div>
    <% for( let i = 0 ; i < 3 ; i++) { %>
      <a href="/recipe/<%= drinksList[i].title %>"><div class="others_recipe-card" style="background-image: url(<%= drinksList[i].path %>);"><span><%= drinksList[i].title %></span></div></a>
    <% } %>
  </div>
  </section>
 <script src="../javascripts/delete.js"></script>
  </body>
</html>
