<%- include('header'); -%>
    <section id="logo">
      <img src="images/logo.png" alt="logo de la pagina" />
      <button>Agregar bebida</button>
    </section>
    <section id="addDrink">
      <form action="/addDrinks" method="POST" enctype="multipart/form-data">
        <section>
          <h2>Nueva receta</h2>
          <p>
            <label for="title">
              <span>Nombre de la bebida:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="text" id="title" name="title" />
          </p>
          <p>
            <label for="recipe">
              <span>Preparación:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
             <textarea name="recipe" id="recipe" cols="30" rows="10"></textarea>
          </p>
          <p>
            <label for="quantity">
              <span>Para cuantas personas:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="number" id="quantity" name="quantity" />
          </p>
          <p>
            <label for="image">
              <span>Imagen de la bebida:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="file" id="image" name="image" />
          </p>
          <section>
            <p>
              <button type="submit" class="button">Guardar bebida</button>
            </p>
            <a id="closeAdd" href="">Cerrar</a>
          </section>
        </section>
      </form>
    </section>
    <section id="drinks_list">
      <ul>
        <% for( let i = 0 ; i < drinks.length ; i++) { %>
        <li>
          <div class="card">
            <section class="card_header">
              <img src="<%= drinks[i].path %>" alt="<%= drinks[i].title %>" />
            </section>
            <section class="card_body">
              <h3><%= drinks[i].title %></h3>
              <p><%= drinks[i].recipe.slice(0,80) + "..." %></p>
              <a href="/recipe/<%= drinks[i].title %>">Ver mas.</a>
            </section>
            <section class="card_footer">
              <p>Preparación para <%= drinks[i].quantity %> vasos</p>
            </section>
          </div>
        </li>
        <% } %>
      </ul>
    </section>
    <script src="javascripts/index.js"></script>
  </body>
</html>
